name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - run: chmod +x gradlew || true

      - run: ./gradlew assembleDebug

      - uses: actions/upload-artifact@v4
        with:
          name: WaterSort-Debug-APK
          path: app/build/outputs/apk/debug/app-debug.apk
